@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow");

#background {
  height: 800px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(white, rgba(13, 181, 187, 0.5));
  border-bottom: solid 5px navy;
}

body {
  background-color: white;
}

#jumpingImage {
  height: auto;
  width: 55%;
  float: left;
}

.jumpingText::first-letter {
  font-size: 4em;
  line-height: 80%;
}

.jumpingText {
  line-height: 2;
  font-size: 1.3em;
  font-family: 'Barlow';
}


.laundryContainer {
  clear: both;
  float: right;
}

#laundryImage {
  height: auto;
  width: 45%;
  float: right;
}

.laundryText::first-letter {
  font-size: 4em;
  line-height: 80%;
}

.laundryText {
  line-height: 2;
  font-size: 1.3em;
  font-family: 'Barlow';
}

.mamaAndKidsContainer {
  text-align: center;
}

.mamaAndKidsImage {
  height: 500px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mamaAndKidsText::first-letter {
  font-size: 4em;
  line-height: 80%;
}

.mamaAndKidsText {
  line-height: 2;
  font-size: 1.3em;
  font-family: 'Barlow';
}

.mamaAndKidsReadingImage {
  height: 500px;
  width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rosetteAndEvanContainer {
  width: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
}

.missionAndCoreValuesH1 {
  margin: auto;
  text-align: center;
  font-family: 'Barlow Condensed';
  padding: 7px;
  border: solid 4px white;
}

.rAndEImage {
  max-width: 100%;
  height: auto;
}

.rAndEMissionText {
  position: absolute;
  top: 50px;
  color: white;
  font-family: 'Barlow';
  font-size: 2em;
  width: 100%;
}

.coreValuesContainer {
  width: 1000px;
  margin: auto;
  text-align: center;
  background-color: white;
}

.coreValuesTitle {
  font-family: 'Barlow Condensed';

}

.coreValuesText {
  width: 100%;
  font-family: 'Barlow';
  font-size: 2em;
}

.coreValuesLine {
  border: 2px solid;
}



.kansimeContainer {
  clear: both;
  float: right;
  border-top: solid 5px navy;
}

.ugandasChildrenFutureContainer {
  text-align: center;
}


#everyChild {
  font-family: "Barlow Condensed";
  background-color: #1d1145;
  padding: 7px;
  color: white;
  margin-top: 3px;
  font-size: 2em;
}

#flowerGirls {
  height: auto;
  width: 45%;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  border-right: solid 5px navy;
}

.flowerGirlsContainer {
  margin-top: 0px;
  height: auto;
}

.ugandaChildren::first-letter {
  font-size: 4em;
  line-height: 80%;
}

.ugandaChildren {
  line-height: 1.8;
  font-size: 1.1em;
  font-family: 'Barlow';
  margin: 0px;
  padding: 0px;
}

.donateImageContainer {
  width: 1265px;
  height: 490px;
  display: inline-block;
  /* display: absolute; */
  text-align: center;
  border-top: solid 1px navy;
  border-bottom: solid 5px navy;
}

.donateImage {
  filter: opacity(20%);
  height: 100%;
  width: 100%;
}

.donateText {
  position: relative;
  bottom: 350px;
  text-align: center;
  font-family: 'Barlow Condensed';
  font-size: 2em;
  color: rgba(13, 181, 187, 0.5);
}

.donateButton {
  position: relative;
  bottom: 280px;
  padding: 16px;
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  font-size: 1em;
  opacity: 5%;
  border: solid 1px navy;
  color: rgb(255, 255, 255);
}

.learnMoreButton {
  position: relative;
  bottom: 280px;
  padding: 16px;
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  font-size: 1em;
  opacity: 5%;
  border: solid 1px navy;
  margin-left: 10px;
}

.volunteerButton {
  margin-top: 3px;
  margin-left: 10px;
  padding: 16px;
  font-family: 'Barlow Condensed';
  background-color: white;
  font-size: 1em;
}

.titleDiscription {
  color: white;
  float: right;
  margin-right: 300px;
  font-size: 2em;
  font-family: 'Barlow Condensed';
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: white;
  float: right;
  margin-top: 250px;
  margin-right: 300px;
  font-family: 'Barlow';
}


nav nav li a {
  width: 100px;
  color: #1d1145;
  margin-left: 10px;
}

nav nav {
  background-color: white;
  display: inline-block;
}

#joinUs {
  margin-right: 10px;
}

.kansime {
  float: right;
  width: 54.6%;
  height: auto;
  border-left: solid 5px navy;
  margin-bottom: 10px;
}

.kansimeText::first-letter {
  font-size: 4em;
  line-height: 80%;
}

.kansimeText {
  line-height: 1.8;
  font-size: 1.1em;
  font-family: 'Barlow';
}

#leftMenu {
  background-color: #1d1145;
  box-sizing: border-box;
  padding: 30px 10px 10px 10px;
  width: 155px;
  text-align: center;
  position: fixed;
  /* top: 0; */
  left: -150px;
  transition: left 0.5s;
  opacity: 0.9;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#leftMenu:hover {
  left: 0;
}

#menu {
  margin-top: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* css transition attribute used to change color */
#leftMenu a {
  display: block;
  margin: 5px 0;
  padding: 8px 0;
  text-decoration: none;
  color: black;
  transition: background-color 0.25s, color 0.25s;
}

#leftMenu a:hover {
  background-color: maroon;
  color: white;
}

#leftMenu li {
  height: 55px;
}

nav ul li {
  display: inline-block;
}

#menu {
  border: 1px black;
  background-color: white;
  padding: 10px;
  left: 0px;
  width: 150px;
  border: solid 1.3px #b5a387;
}

#navMenu a {
  display: block;
  width: 60px;
}

#ohu {
  height: 71px;
  width: 90px;
  background-color: white;
}

#ohuImage {
  height: 71px;
  width: 90px;
  padding: 1px;
  background-color: white;
}

.orphansOfHopeUganda {
  font-family: 'Barlow';
  color: black;
  background-color: white;
  font-size: 9px;
  padding: 10px;
}

.differenceButton {
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
}

.ourTeamTitle {
  font-family: "Barlow Condensed";
}

.ourTeamText {
  font-size: 2em;
  font-family: "Barlow";
}

.mamaJaneContainer {
  display: inline-block;
  height: 400px;
  width: 300px;
  text-align: center;
  margin-right: 0px;
}

#mamaJane {
  width: 100%;
  height: auto;
  left: 100px;
}

.mamaJaneText, .kinalwayHerbertText {
  bottom: -60px;
  font-family: 'Barlow';
  font-size: 1.3em;
}

.kinalwayHerbertContainer {
  height: 400px;
  width: 300px;
  text-align: center;
  display: inline-block;
  margin-left: 0px;
}

#kinalwayHerbert {
  width: 100%;
  height: auto;
}

.mamaJaneHerbertText {
  font-family: 'Barlow';
  text-align: center;
  font-size: 1.3em;
  clear: both;
}

.teacherContainer {
  width: 650px;
  height: auto;
  display: inline-block;
  margin: 0px;
}

.teacher {
  width: 100%;
  height: 100%
}

.whereWeWorkTitle {
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  border: solid 1.3px #b5a387;
}

.ugandaWorldContainer {
  width: 100%;
  height: auto;
}

.ugandaWorldImage {
  width: 100%;
  height: auto;
}

.ugandaText {
  font-family: "Barlow";
  font-size: 2em;
}

.ugandaText::first-letter {
  font-size: 1.3em;
  line-height: 80%;
}

.cowContainer {
  width: 100%;
  height: auto;
}

.cow {
  width: 100%;
  height: auto;
}

.cowText {
  font-family: 'Barlow';
  font-size: 2em;
}

.redTreeContainer {
  width: 100%;
  height: auto;
}

.redTree {
  width: 100%;
  height: auto;
}

.redTreeText {
  font-family: 'Barlow';
  font-size: 2em;
}

.redTreeText::first-letter {
  font-size: 1.3em;
  float: left;
  line-height: 80%;
}

.ourOrphanageTitle {
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  border: solid 1.3px #b5a387;
}

.ourOrhpanageContainer {
  width: 100%;
  height: auto;
}

.ourOrphanageText {
  font-family: "Barlow";
  font-size: 2em;
}

.ourOrphanageText::first-letter {
  font-size: 1.3em;
  float: left;
  line-height: 80%;
}

.threeGirlsSmiling {
  width: 100%;
  height: auto;
}

.brickBuildingContainer {
  width: 100%;
  height: auto;
}

.brickBuilding {
  width: 100%;
  height: auto;
}

.brickBuildingText {
  font-family: "Barlow";
  font-size: 2em;
}

.brickBuildingText::first-letter {
  font-size: 1.3em;
  float: left;
  line-height: 80%;
}

.projectsAndImpactTitle {
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  border: solid 1.3px #b5a387;
}

.projectsAndImpactTitleTwo {
  font-family: 'Barlow Condensed';
  display: inline-block;
}

.projectsAndImpactTitleTwoContainer {
  text-align: center;
}

.educationContainer {
  width: 350px;
  height: auto;
  display: inline-block;
  margin-left: 5%;
}

.educationTitle {
  font-family: 'Barlow Condensed';
}

.educationImage {
  width: 100%;
  height: 100%;
}

.educationTextContainer {
  width: 400px;
  height: auto;
  display: inline-block;
  margin-left: 23%;
  text-align: center;
}

.educationTextTitle {
  font-family: 'Barlow Condensed';
}

.educationLine {
  width: 15%;
  border: solid 1px black;
}

.educationText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.waterContainer {
  width: 350px;
  height: auto;
  display: inline-block;
  margin-left: 5%;
}

.waterTitle {
  font-family: 'Barlow Condensed';
}

.waterImage {
  width: 100%;
  height: 100%;
}

.waterTextContainer {
  width: 400px;
  height: auto;
  display: inline-block;
  margin-left: 23%;
  text-align: center;
}

.waterLine {
  width: 15%;
  border: solid 1px black;
}

.waterText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.healthContainer {
  width: 350px;
  height: auto;
  display: inline-block;
  margin-left: 5%;
}

.healthTitle {
  font-family: 'Barlow Condensed';
}

.healthImage {
  width: 100%;
  height: 100%;
}

.healthTextContainer {
  width: 400px;
  height: auto;
  display: inline-block;
  margin-left: 23%;
  text-align: center;
}

.healthLine {
  width: 15%;
  border: solid 1px black;
}

.healthText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.malnutritionContainer {
  width: 350px;
  height: auto;
  display: inline-block;
  margin-left: 5%;
}

.malnutritionTitle {
  font-family: 'Barlow Condensed';
}

.malnutritionImage {
  width: 100%;
  height: 100%;
}

.malnutritionTextContainer {
  width: 450px;
  height: auto;
  display: inline-block;
  margin-left: 23%;
  text-align: center;
}

.malnutritionLine {
  width: 15%;
  border: solid 1px black;
}

.malnutritionText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.educationPageTitle {
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  border: solid 1px #b5a387;
}

.girlInClassContainer {
  width: 100%;
  height: auto;
}

.girlInClassImage {
  width: 100%;
  height: auto;
}

.girlInClassText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.girlInClassText::first-letter {
  font-size: 4em;
  float: left;
  line-height: 80%;
}

.mathClassContainer {
  width: 100%;
  height: auto;
}

.mathClassImage {
  width: 100%;
  height: auto;
}

.waterPageTitle {
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  border: solid 1px #b5a387;
}

.girlsCarryingWaterContainer {
  width: 100%;
  height: auto;
}

.girlsCarryingWater {
  width: 100%;
  height: auto;
}

.girlsCarryingWaterText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.girlsCarryingWaterText::first-letter {
  font-size: 4em;
  float: left;
  line-height: 80%;
}

.schoolBoyContainer {
  width: 100%;
  height: auto;
}

.schoolBoyImage {
  width: 100%;
  height: auto;
}

.healthPageTitle {
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  border: solid 1px #b5a387;
}

.kwagalaContainer {
  width: 100%;
  height: auto;
}

.kwagalaInjured {
  width: 100%;
  height: auto;
}

.kwagalaInjuredText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.kwagalaInjuredText::first-letter {
  font-size: 4em;
  float: left;
  line-height: 80%;
}

.brianContainer {
  width: 100%;
  height: auto;
}

.brianImage {
  width: 100%;
  height: auto;
}

.eatingPageTitle {
  font-family: 'Barlow Condensed';
  background-color: rgba(13, 181, 187, 0.5);
  border: solid 1px #b5a387;
}

.eatingContainer {
  width: 100%;
  height: auto;
}

.eatingImage {
  width: 100%;
  height: auto;
}

.eatingText {
  font-family: 'Barlow';
  font-size: 1.8em;
}

.eatingText::first-letter {
  font-size: 4em;
  line-height: 80%;
}

.kansimeEatingContainer {
  width: 100%;
  height: auto;
}

.kansimeEating {
  width: 100%;
  height: auto;
}

.ugandanOrphanCrisisTitle {
  color: rgba(13, 181, 187, 0.5);
  font-family: 'Barlow Condensed';
}

.ugandanOrphanCrisisLine {
  border: solid 1px black;
}

.footer {
  background-color: white;
  display: block;
  padding: 20px;
  text-align: center;
}

.address,
.followUs {
  color: rgba(13, 181, 187, 0.5);
  position: relative;
  margin-bottom: 5px;
  font-size: 24px;
  font-family: 'Barlow';
}

.weAreHere {
  height: 300px;
  width: auto;
}

.footerItems li {
  list-style-type: none;
}

.orphansOfHopeUgandaFooter {
  font-family: 'Barlow';
  font-size: 1.3em;
  color: rgba(13, 181, 187, 0.5);
}

.benAndBonnyContainer,
.benAndBonnyImage {
  width: 100%;
  height: auto;
}

.benAndBonnyText,
.volunteerNowText,
.openVolunteerProjectsText {
  font-family: 'Barlow Condensed';
  font-size: 1.3em;
  color: rgba(13, 181, 187, 0.5);
}

.openVolunteerProjectsText {
  font-family: 'Barlow Condensed';
  color: rgba(13, 181, 187, 0.5);
  font-size: 1.3em;
}

.openVolunteerProjectsTitle {
  font-family: 'Barlow';
  text-align: center;
  color: black;
}

.lucyAndGiftContainer, .lucyAndGiftImage {
  width: 100%;
  height: auto;
}

.lucyAndGiftLine, .volunteerContinuedLine {
  border: solid 1px navy; 
  width: 15%;
}

.volunteerContinuedRequirementsTitle, .volunteerContinuedHowToApplyTitle {
  font-family: 'Barlow Condensed';
  color: black; 
  text-align: center;
}

.lucyAndGiftText, .lucyAndGiftUnorderedList, .volunteerContinuedText {
  font-family: 'Barlow Condensed';
  font-size: 1.3em; 
  color: rgba(13, 181, 187, 0.5);
}

.nathanContainer, .poojaContainer, .lilyContainer, .shirContainer, .lucyContainer, .masonContainer, .benContainer, .ofekContainer, .alvisContainer {
  height: 400px;
  width: 300px;
  text-align: center;
}

.nathanImage, .poojaImage, .lilyImage, .shirImage, .lucyImage, .masonImage, .benImage, .ofekImage, .alvisImage {
  width: 100%;
  height: auto;
}

.nathanContainer, .shirContainer, .benContainer {
  margin-right: 0px;
}

.lilyContainer, .masonContainer {
  margin-left: 0px;
}

.nathanText, .poojaText, .lilyAndBonnyText, .shirText, .lucyText, .masonText, .benText, .ofekText, .alvisText {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Barlow';
  font-size: 1.3em;
}

.meetOurVolunteersTitle {
  font-family: 'Barlow';
  text-align: center;
}

.ourVolunteersFirstNathanPoojaLilyContainer, .ourVolunteersSecondShirLucyMasonContainer, .ourVolunteersThirdBenOfekAlvisContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  nav.dropdown a {
    width: 375px !important;
    background-color: red !important;
    /* margin: 0 auto; */
  }
}